 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/72a5eecc-38b8-43cb-b71a-d614619da23f.jpg");
  background-position: 50% 0%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 720px;
}

.u-section-1-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 546px 0 0 auto;
}

.u-section-1-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 10px 0 27px 602px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-text-2 {
    margin-bottom: 0;
    margin-left: 402px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 182px;
  }
}

@media (max-width: 767px) {
   .u-section-1-1 {
    background-position: 45.38% 0%;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-top: 449px;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-left: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 375px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 0;
  }
} .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/da1f5acf-fb71-4105-a8f3-a0560cbe60ca.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 720px;
}

.u-section-1-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 509px 32px 0 auto;
}

.u-section-1-2 .u-text-2 {
  animation-duration: 1000ms;
  margin: 0 32px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-text-2 {
    margin-left: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-1-2 .u-text-1 {
    width: auto;
    margin-top: 385px;
    margin-right: auto;
    margin-left: 17px;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    margin-right: 11px;
    margin-left: 171px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 2px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 0;
  }
} .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/b963bf07-4915-4598-aabb-2d47887ce152.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 720px;
}

.u-section-1-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 509px 32px 0 auto;
}

.u-section-1-3 .u-text-2 {
  animation-duration: 1000ms;
  margin: 0 32px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-text-1 {
    width: auto;
    margin-top: 419px;
    margin-right: auto;
    margin-left: 16px;
  }

  .u-section-1-3 .u-text-2 {
    width: auto;
    margin: 16px 24px 0 378px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-1-3 .u-text-2 {
    margin-top: -16px;
    margin-right: 0;
    margin-left: 182px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-1-3 .u-text-1 {
    margin-top: 232px;
    margin-left: 0;
    margin-right: 0;
    font-size: 3.75rem;
  }

  .u-section-1-3 .u-text-2 {
    margin-top: 7px;
    margin-right: 16px;
    margin-left: -14px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-1-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/83b958db-b8a7-4448-9317-8d133bf49cdf.jpg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 720px;
}

.u-section-1-4 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 509px 32px 0 auto;
}

.u-section-1-4 .u-text-2 {
  animation-duration: 1000ms;
  margin: 0 32px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-text-2 {
    margin-bottom: 0;
    margin-left: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-1-4 .u-text-1 {
    width: auto;
    margin-top: 412px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-4 .u-text-2 {
    width: auto;
    margin-top: -7px;
    margin-right: 0;
    margin-left: 182px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-1-4 .u-text-1 {
    margin-top: 373px;
  }

  .u-section-1-4 .u-text-2 {
    margin-top: -10px;
    margin-right: -13px;
    margin-left: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-block-ecf6-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-ecf6-3 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  background-image: none;
}

.u-block-ecf6-4 {
  position: absolute;
  right: 0;
  width: 65px;
  height: 65px;
  background-image: none;
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/280a6b11-3966-4d23-8e4a-d7c4b6d15e7e.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 480px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/da1f5acf-fb71-4105-a8f3-a0560cbe60ca.jpg");
  background-position: 39.42% 50%;
  transition-duration: 1s;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-family: Arvo;
  margin: 84px 45px 0 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  background-image: none;
  margin: 20px 30px 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-left: 30px;
  margin-right: 30px;
  animation-duration: 1000ms;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 396px;
    background-position: 39.42% 50%;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 509px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 332px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-2 .u-image-1 {
    background-position: 31.97% 50%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 473px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-right: 193px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: -159px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 222px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 426px;
  }

  .u-section-2 .u-text-1 {
    width: 316px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 15px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    background-position: 71.92% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 151px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 438px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 17px;
  }
} .u-section-3 {
  background-image: linear-gradient(#462d72, white);
}

.u-section-3 .u-sheet-1 {
  min-height: 544px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 273px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/77501a34-c383-4dea-8656-1a97b47c0dd6.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 273px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 273px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/9c0336c1-035b-4690-86b9-433f48c7225f.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 273px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-3 .u-text-4 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 273px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-6 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 273px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/ce7449aa-bdf4-430d-bd9f-eb73f17f0475.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 273px;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-8 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 273px;
}

.u-section-3 .u-image-4 {
  background-image: url("images/9d88343c-a481-476d-9d8e-5c4fbb0c13f6.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-12 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 225px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 225px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 225px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 225px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 225px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 225px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 225px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 225px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1200px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 345px;
    order: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
    order: 1;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 345px;
    order: 3;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
    order: 2;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
    order: 1;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 345px;
    order: 0;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 100px;
    order: 2;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 345px;
    order: 3;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1852px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 518px;
    order: 2;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    order: 3;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 518px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-7 {
    order: 3;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 518px;
    order: 2;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1964px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 326px;
    animation-duration: 1000ms;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 165px;
    animation-duration: 1000ms;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 326px;
    animation-duration: 1000ms;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 165px;
    animation-duration: 1000ms;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 165px;
    animation-duration: 1000ms;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 326px;
    animation-duration: 1000ms;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 165px;
    animation-duration: 1000ms;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 326px;
    animation-duration: 1000ms;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 463px;
}

.u-section-4 .u-group-1 {
  min-height: 72px;
  width: 801px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-4 .u-text-1 {
  font-family: Arvo;
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 0 50px;
}

.u-section-4 .u-shape-1 {
  width: 65px;
  height: 65px;
  animation-duration: 2000ms;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 181px;
}

.u-section-4 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-family: Arvo;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-4 .u-text-3 {
  font-family: Arvo;
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 180px;
}

.u-section-4 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-family: Arvo;
  margin: 0;
}

.u-section-4 .u-text-5 {
  font-family: Arvo;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 181px;
}

.u-section-4 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-text-6 {
  font-family: Arvo;
  margin: 0;
}

.u-section-4 .u-text-7 {
  font-family: Arvo;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 180px;
}

.u-section-4 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-text-8 {
  font-family: Arvo;
  margin: 0;
}

.u-section-4 .u-text-9 {
  font-family: Arvo;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 149px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 149px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 149px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 148px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 302px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 596px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 30px auto 30px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 536px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  font-style: normal;
  margin: 0 8px 0 0;
}

.u-section-5 .u-text-2 {
  letter-spacing: 2px;
  margin: 8px 8px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 60px auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 536px;
}

.u-section-5 .u-image-1 {
  background-image: url("images/a795b203-0ac1-438d-8772-e0dbd4a1c8e3.jpg");
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 442px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 442px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 453px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 453px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 281px;
    order: 1;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 513px;
    order: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 390px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1250px;
}

.u-section-6 .u-shape-1 {
  height: 579px;
  width: 768px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1010px;
  margin: -519px auto 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 611px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 385px;
  height: 496px;
  object-position: 50% 13.57%;
  background-position: 50% 74.16%;
  transition-duration: 0.5s;
  margin: 57px auto 0 7px;
}

.u-section-6 .u-image-2 {
  width: 316px;
  height: 504px;
  object-position: 50% 39.95%;
  transition-duration: 0.5s;
  margin: -570px -26px 0 auto;
}

.u-section-6 .u-image-3 {
  width: 400px;
  height: 413px;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.15);
  object-position: 50% 8.08%;
  transition-duration: 0.5s;
  margin: -321px 251px 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 579px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 22px 0 0;
}

.u-section-6 .u-list-1 {
  width: 280px;
  margin: 42px auto 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 159px;
  grid-gap: 0px;
}

.u-section-6 .u-image-4 {
  background-image: url("images/950f273b-f179-4bbc-bb1e-a7ed002eee03.png");
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-image-5 {
  background-image: url("images/iphone.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 556px;
}

.u-section-6 .u-container-layout-5 {
  padding: 40px 20px 0 0;
}

.u-section-6 .u-list-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-repeater-2 {
  grid-template-columns: repeat(1, 100%);
  min-height: 433px;
  grid-gap: 0px;
}

.u-section-6 .u-container-layout-6 {
  padding: 10px 30px 14px;
}

.u-section-6 .u-text-2 {
  margin-top: 0;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-6 .u-text-3 {
  background-image: none;
  margin: -52px 0 0 61px;
}

.u-section-6 .u-container-layout-7 {
  padding: 10px 30px 14px;
}

.u-section-6 .u-text-4 {
  margin-top: 0;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-6 .u-text-5 {
  background-image: none;
  margin: -52px 0 0 61px;
}

.u-section-6 .u-container-layout-8 {
  padding: 10px 30px 14px;
}

.u-section-6 .u-text-6 {
  margin-top: 0;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-6 .u-text-7 {
  background-image: none;
  margin: -52px 0 0 61px;
}

.u-section-6 .u-container-layout-9 {
  padding: 10px 30px 5px;
}

.u-section-6 .u-text-8 {
  margin-top: 0;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-6 .u-text-9 {
  background-image: none;
  margin: -52px 0 0 61px;
}

.u-section-6 .u-text-10 {
  font-size: 3rem;
  font-weight: 700;
  margin: -1221px 416px 60px 219px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1168px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 580px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 517px;
  }

  .u-section-6 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-text-3 {
    margin-left: 26px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 26px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 26px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 26px;
  }

  .u-section-6 .u-text-10 {
    width: auto;
    margin-top: -1198px;
    margin-right: 314px;
    margin-left: 121px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1371px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 44px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -563px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 697px;
  }

  .u-section-6 .u-image-1 {
    width: 345px;
    height: 306px;
    object-position: 100% 0%;
    margin-top: 48px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    margin-top: -388px;
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    width: 354px;
    height: 452px;
    margin-top: -203px;
    margin-right: 154px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 601px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 0;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-left: 47px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 0;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-left: 47px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 0;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-left: 47px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-bottom: 14px;
    padding-left: 0;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-left: 47px;
  }

  .u-section-6 .u-text-10 {
    font-size: 2.25rem;
    margin-top: -1326px;
    margin-right: 254px;
    margin-left: -39px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1799px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 879px;
  }

  .u-section-6 .u-image-1 {
    width: 417px;
    height: 547px;
    margin-top: 46px;
  }

  .u-section-6 .u-image-2 {
    width: 380px;
    height: 301px;
    object-position: 50% 1.33%;
    margin-top: -320px;
  }

  .u-section-6 .u-image-3 {
    margin-top: -152px;
    margin-right: auto;
    margin-left: 5px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 407px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 440px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 5px;
    padding-right: 10px;
  }

  .u-section-6 .u-list-2 {
    width: 530px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-6 {
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 2px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 2px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 2px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 2px;
  }

  .u-section-6 .u-text-10 {
    width: 415px;
    margin: -1778px auto 1280px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1735px;
  }

  .u-section-6 .u-shape-1 {
    height: 628px;
    margin-top: 9px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 661px;
  }

  .u-section-6 .u-image-1 {
    width: 312px;
    height: 206px;
    object-position: 50% 0%;
    animation-duration: 1000ms;
    margin-top: -14px;
  }

  .u-section-6 .u-image-2 {
    height: 217px;
    width: 293px;
    object-position: 50% 0%;
    animation-duration: 1000ms;
    margin-top: -18px;
  }

  .u-section-6 .u-image-3 {
    width: 241px;
    height: 327px;
    animation-duration: 1000ms;
    margin-top: -57px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 426px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 536px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 10px;
  }

  .u-section-6 .u-list-2 {
    width: 330px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-10 {
    animation-duration: 1000ms;
    width: auto;
    margin: -1721px 0 525px;
  }
}

.u-section-6 .u-image-1 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-6 .u-image-3 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-6 .u-image-2 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 687px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 226px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 30px 258px;
}

.u-section-7 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2px;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-7 .u-text-2 {
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 477px;
  animation-duration: 1000ms;
}

.u-section-7 .u-container-layout-2 {
  padding: 7px 0;
}

.u-section-7 .u-image-1 {
  object-position: 93.21% 71.26%;
  width: 554px;
  height: 372px;
  animation-duration: 1000ms;
  margin: 0 -227px 0 auto;
}

.u-section-7 .u-image-2 {
  min-height: 477px;
  background-image: url("images/a21f1dae-6fd0-4efe-8c05-87b54a4e7f0a.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-7 .u-container-layout-3 {
  padding: 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 707px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: 541px;
  animation-duration: 1000ms;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 230px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-right: 44px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 393px;
  }

  .u-section-7 .u-image-1 {
    object-position: 49.46% 71.26%;
    width: 268px;
    height: 331px;
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    min-height: 393px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 623px;
    background-position: 50% 50%;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-image-3 {
    height: 452px;
    width: 362px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1228px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: -488px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 503px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-image-1 {
    object-position: 68.05% 71.26%;
    width: 494px;
    height: 401px;
    margin-right: -134px;
  }

  .u-section-7 .u-image-2 {
    min-height: 502px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 512px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-image-3 {
    height: 492px;
    width: 716px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1749px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 361px;
  }

  .u-section-7 .u-image-1 {
    object-position: 62.58% 71.26%;
    width: 539px;
    margin-right: auto;
    margin-bottom: -40px;
  }

  .u-section-7 .u-image-2 {
    min-height: 753px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 424px;
  }

  .u-section-7 .u-image-3 {
    height: 364px;
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 882px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 253px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    min-height: 474px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 267px;
  }

  .u-section-7 .u-image-3 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-8 {
  background-image: linear-gradient(white, #462d72);
  min-height: 438px;
}

.u-section-8 .u-slider-1 {
  min-height: 438px;
  margin-top: 0;
  margin-bottom: -2px;
}

.u-section-8 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 130px;
}

.u-section-8 .u-image-1 {
  width: 292px;
  height: 384px;
  object-position: 0% 0%;
  transition-duration: 0.5s;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-1 {
  margin: -268px 0 0 347px;
}

.u-section-8 .u-text-2 {
  line-height: 2;
  margin: 20px 0 0 347px;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 51px 347px;
}

.u-section-8 .u-container-layout-2 {
  padding: 24px 130px;
}

.u-section-8 .u-image-2 {
  width: 292px;
  height: 384px;
  transition-duration: 0.5s;
  margin: 6px auto 0 0;
}

.u-section-8 .u-text-3 {
  margin: -268px 0 0 348px;
}

.u-section-8 .u-text-4 {
  line-height: 2;
  margin: 20px 0 0 348px;
}

.u-section-8 .u-btn-2 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 348px;
}

.u-section-8 .u-carousel-control-1 {
  width: 31px;
  height: 31px;
  background-image: none;
}

.u-section-8 .u-carousel-control-2 {
  width: 31px;
  height: 31px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-8 .u-slider-1 {
    height: auto;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-8 .u-btn-1 {
    margin-right: 229px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-8 .u-btn-2 {
    margin-right: 229px;
    margin-bottom: 19px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 395px;
  }

  .u-section-8 .u-slider-1 {
    min-height: 394px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-8 .u-image-1 {
    width: 250px;
    height: 333px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -317px;
    margin-left: 270px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 270px;
  }

  .u-section-8 .u-btn-1 {
    margin-right: 141px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 85px;
    padding-right: 85px;
    padding-bottom: 0;
  }

  .u-section-8 .u-image-2 {
    width: 250px;
    height: 326px;
  }

  .u-section-8 .u-text-3 {
    margin-top: -317px;
    margin-right: 63px;
    margin-left: 270px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 270px;
  }

  .u-section-8 .u-btn-2 {
    margin-right: 141px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-slider-1 {
    min-height: 649px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    margin-left: auto;
  }

  .u-section-8 .u-text-1 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    margin-left: auto;
  }

  .u-section-8 .u-text-3 {
    margin-top: 25px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 0;
  }

  .u-section-8 .u-btn-2 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-btn-1 {
    margin-top: 24px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-btn-2 {
    margin-left: 91px;
  }
}

.u-section-8 .u-image-2 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-8 .u-image-1 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 205px;
}

.u-section-9 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 1140px;
  margin: -25px auto -15px 0;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  grid-gap: 10px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: 0 auto;
}

.u-section-9 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-3 {
  font-weight: 700;
  background-image: none;
  margin: 0 auto;
}

.u-section-9 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-text-5 {
  font-weight: 700;
  background-image: none;
  margin: 0 auto;
}

.u-section-9 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px;
}

.u-section-9 .u-text-7 {
  font-weight: 700;
  background-image: none;
  margin: 0 auto;
}

.u-section-9 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-9 .u-list-1 {
    width: 940px;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(4, 25%);
    grid-gap: 0px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 144px;
  }

  .u-section-9 .u-list-1 {
    width: 720px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-9 .u-list-1 {
    margin-bottom: -60px;
    width: 540px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 196px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-list-1 {
    width: 340px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 6px;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-9 .u-text-4 {
    margin-top: 6px;
  }

  .u-section-9 .u-text-5 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-9 .u-text-6 {
    margin-top: 6px;
  }

  .u-section-9 .u-text-7 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-9 .u-text-8 {
    margin-top: 6px;
  }
} .u-section-10 {
  background-image: none;
  min-height: 550px;
}

.u-section-10 .u-shape-1 {
  background-image: none;
}

.u-section-10 .u-layout-wrap-1 {
  width: 1140px;
  background-image: linear-gradient(to right, #462d72, #e34a38);
  margin: 15px auto 6px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 515px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-10 .u-line-1 {
  width: 43px;
  position: relative;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-10 .u-form-1 {
  margin: 30px auto 0 0;
}

.u-section-10 .u-btn-1 {
  border-style: none;
  background-image: none;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 515px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-text-2 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-10 .u-text-3 {
  font-style: italic;
  margin: 18px 2px 0 0;
}

.u-section-10 .u-text-4 {
  text-transform: uppercase;
  margin: 31px 0 0;
}

.u-section-10 .u-text-5 {
  font-style: italic;
  margin: 18px 2px 0 0;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-text-6 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-10 .u-text-7 {
  font-style: italic;
  margin: 18px 2px 0 0;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 515px;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-10 {
    min-height: 549px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 25px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 504px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 0;
  }

  .u-section-10 .u-text-5 {
    margin-right: 0;
  }

  .u-section-10 .u-text-7 {
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 361px;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 1121px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 277px;
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 877px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 733px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-10 {
    min-height: 606px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 462px;
  }
}